{{>header}}

<main>
    <!-- START: template component(s) -->
    <div class="container" id="section-1">
        <div class="row">
            <div class="col-12">
                <h1>Mijn gegevens</h1>
                <p class="lead">Hier vindt u een overzicht van uw persoons- en adresgegevens.</p>
                {{^error}}
                <section>
                <h2>Persoonsgegevens</h2>
                <table class="responsive-table">
                    <tbody>
                        <tr>
                            <th>BSN</th>
                            <td>{{Persoon.BSN.BSN}}</td>
                        </tr>
                        <tr>
                            <th>Initialen</th>
                            <td>{{Persoon.Persoonsgegevens.Voorletters}}</td>
                        </tr>
                        <tr>
                            <th>Voornamen</th>
                            <td>{{Persoon.Persoonsgegevens.Voornamen}}</td>
                        </tr>
                        <tr>
                            <th>Voorvoegsel</th>
                            <td>{{Persoon.Persoonsgegevens.Voorvoegsel}}</td>
                        </tr>
                        <tr>
                            <th>Geslachtsnaam</th>
                            <td>{{Persoon.Persoonsgegevens.Geslachtsnaam}}</td>
                        </tr>
                        <tr>
                            <th>Achternaam</th>
                            <td>{{Persoon.Persoonsgegevens.Achternaam}}</td>
                        </tr>
                        <tr>
                            <th>Geboortedatum</th>
                            <td>{{Persoon.Persoonsgegevens.Geboortedatum}}</td>
                        </tr>
                        <tr>
                            <th>Nederlandse nationaliteit</th>
                            <td>{{Persoon.Persoonsgegevens.NederlandseNationaliteit}}</td>
                        </tr>
                        <tr>
                            <th>Geslachtsaanduiding</th>
                            <td>{{Persoon.Persoonsgegevens.Geslacht}}</td>
                        </tr>
                    </tbody>
                </table>
                </section>
                <section>
                <h2>Adresgegevens</h2>
                <table class="responsive-table">
                    <tbody>
                        <tr>
                            <th>Straat en huisnummer</th>
                            <td>{{Persoon.Adres.Straat}} {{Persoon.Adres.Huisnummer}}</td>
                        </tr>
                        <tr>
                            <th>Postcode</th>
                            <td>{{Persoon.Adres.Postcode}}</td>
                        </tr>
                        <tr>
                            <th>Woonplaats</th>
                            <td>{{Persoon.Adres.Woonplaats}}</td>
                        </tr>
                    </tbody>
                </table>
                </section>
                {{/error}}
                {{#error}}
                <h2>Er is iets misgegaan</h2>
                <p>{{error}}</p>
                {{/error}}
            </div>
        </div>
    </div>

    <!-- END: template component(s) -->
</main>
{{>footer}}